/* CSS Document */
.loge-jr{
	width: 280px;
	margin: auto;
	background-color: #1C1B24;
	padding: 30px 20px 60px 20px;
	margin-top: 50px;
	border: rgb(128, 128, 128) solid 1px;
	border-radius: 5px;
}

.loge-jr h1{
	color: #FFFFFF;
	font-family: "Roboto";
	text-align: center;
}

label{
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Roboto";
	padding: 10px 0px;
}

input{
	width: 100%;
	background-color: #201E29;
	border: 1px solid rgb(128, 128, 128);
	padding: 10px 5px;
	color: #FFFFFF;
	border-radius: 3px;
}


#botao-etrar-jr{
	background-color: #7DA743;
	border: 0px;
	margin-top: 30px;
}
